# import libraries

In [1]:
import os
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
os.getcwd() #current working directory

'/Users/jeongwonmin/Documents/lectures/Ensemble/code'

# data settings

In [3]:
data = pd.read_csv("./kc_house_data.csv") #https://www.kaggle.com/shivachandel/kc-house-data
data.head()

,id,date,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode,lat,long
0,7129300520,20141013T000000,221900.0,3,1.00,1.0,0,3,7,1955,0,98178,47.5112,-122.257
1,6414100192,20141209T000000,538000.0,3,2.25,2.0,0,3,7,1951,1991,98125,47.7210,-122.319
2,5631500400,20150225T000000,180000.0,2,1.00,1.0,0,3,6,1933,0,98028,47.7379,-122.233
3,2487200875,20141209T000000,604000.0,4,3.00,1.0,0,5,7,1965,0,98136,47.5208,-122.393
4,1954400510,20150218T000000,510000.0,3,2.00,1.0,0,3,8,1987,0,98074,47.6168,-122.045

In [4]:
'''
id : Id
date: Date house was sold(String)
price: Price of the sold house
bedrooms: Numer of Bedrooms
bathrooms: Numer of bathrooms
waterfront: Whether the house has a view a waterfront(1: yes, 0: not)
condtion: Condition of the house(1-5)
grade: Building construction and design(1-13)
yr_built: Built year
yr_renovated: Year when the house was renovated
zipcode: zipcode of the house
lat: Latitude coordinate
long Longitude coordinate
'''

'\nid : Id\ndate: Date house was sold(String)\nprice: Price of the sold house\nbedrooms: Numer of Bedrooms\nbathrooms: Numer of bathrooms\nwaterfront: Whether the house has a view a waterfront(1: yes, 0: not)\ncondtion: Condition of the house(1-5)\ngrade: Building construction and design(1-13)\nyr_built: Built year\nyr_renovated: Year when the house was renovated\nzipcode: zipcode of the house\nlat: Latitude coordinate\nlong Longitude coordinate\n'

In [5]:
data.shape

(21613, 14)

In [6]:
nData = data.shape[0]
nVar = data.shape[1]
print('# data : %d' %nData, '\n# variables: %d' %nVar )

# data : 21613
# variables: 14

### drop columns

In [7]:
data.drop(['id', 'date', 'zipcode', 'lat', 'long'], axis = 1)

,price,bedrooms,bathrooms,floors,waterfront,condition,grade,yr_built,yr_renovated
0,221900.0,3,1.00,1.0,0,3,7,1955,0
1,538000.0,3,2.25,2.0,0,3,7,1951,1991
2,180000.0,2,1.00,1.0,0,3,6,1933,0
3,604000.0,4,3.00,1.0,0,5,7,1965,0
4,510000.0,3,2.00,1.0,0,3,8,1987,0
...,...,...,...,...,...,...,...,...,...
21608,360000.0,3,2.50,3.0,0,3,8,2009,0
21609,400000.0,4,2.50,2.0,0,3,8,2014,0
21610,402101.0,2,0.75,2.0,0,3,7,2009,0
21611,400000.0,3,2.50,2.0,0,3,8,2004,0
21612,325000.0,2,0.75,2.0,0,3,7,2008,0

In [8]:
data = data.drop(['id', 'date', 'zipcode', 'lat', 'long'], axis = 1)

### column info

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         21613 non-null  float64
 1   bedrooms      21613 non-null  int64
 2   bathrooms     21613 non-null  float64
 3   floors        21613 non-null  float64
 4   waterfront    21613 non-null  int64
 5   condition     21613 non-null  int64
 6   grade         21613 non-null  int64
 7   yr_built      21613 non-null  int64
 8   yr_renovated  21613 non-null  int64
dtypes: float64(3), int64(6)
memory usage: 1.5 MB

### separate into features and label

In [10]:
features = data.columns.difference(['price'])
X = data[features]
y = data[['price']]

In [11]:
X

,bathrooms,bedrooms,condition,floors,grade,waterfront,yr_built,yr_renovated
0,1.00,3,3,1.0,7,0,1955,0
1,2.25,3,3,2.0,7,0,1951,1991
2,1.00,2,3,1.0,6,0,1933,0
3,3.00,4,5,1.0,7,0,1965,0
4,2.00,3,3,1.0,8,0,1987,0
...,...,...,...,...,...,...,...,...
21608,2.50,3,3,3.0,8,0,2009,0
21609,2.50,4,3,2.0,8,0,2014,0
21610,0.75,2,3,2.0,7,0,2009,0
21611,2.50,3,3,2.0,8,0,2004,0
21612,0.75,2,3,2.0,7,0,2008,0

In [12]:
y

          price
0      221900.0
1      538000.0
2      180000.0
3      604000.0
4      510000.0
...         ...
21608  360000.0
21609  400000.0
21610  402101.0
21611  400000.0
21612  325000.0

[21613 rows x 1 columns]

### split data into train & test data (7 : 3)

In [13]:
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [14]:
print(train_x.shape, test_x.shape, train_y.shape, test_y.shape)

(15129, 8) (6484, 8) (15129, 1) (6484, 1)

# 1. regression analysis

# import libraries

In [15]:
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt

# train

In [16]:
sm_train_x = sm.add_constant(train_x, has_constant = 'add') #add bias
sm_model = sm.OLS(train_y, sm_train_x) #model
fitted_sm_model = sm_model.fit() #train
fitted_sm_model.summary() #summary

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.595
Model:                            OLS   Adj. R-squared:                  0.595
Method:                 Least Squares   F-statistic:                     2776.
Date:                Tue, 02 Jun 2020   Prob (F-statistic):               0.00
Time:                        23:59:07   Log-Likelihood:            -2.0826e+05
No. Observations:               15129   AIC:                         4.165e+05
Df Residuals:                   15120   BIC:                         4.166e+05
Df Model:                           8
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const         7.186e+06   1.73e+05     41.548      0.000    6.85e+06    7.52e+06
bathrooms     1.303e+05   3960.833     32.889      0.000    1.23e+05    1.38e+05
bedrooms     -2224.7910   2382.356     -0.934      0.350   -6894.497    2444.915
condition     1.641e+04   3169.013      5.178      0.000    1.02e+04    2.26e+04
floors        1946.3052   4336.838      0.449      0.654   -6554.422    1.04e+04
grade         1.956e+05   2199.540     88.924      0.000    1.91e+05       2e+05
waterfront    7.555e+05   2.26e+04     33.479      0.000    7.11e+05       8e+05
yr_built     -4300.7865     88.073    -48.832      0.000   -4473.420   -4128.153
yr_renovated    12.7325      5.043      2.525      0.012       2.847      22.618
==============================================================================
Omnibus:                    13447.374   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1684794.827
Skew:                           3.763   Prob(JB):                         0.00
Kurtosis:                      54.147   Cond. No.                     1.82e+05
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.82e+05. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

# test

In [17]:
sm_test_x = sm.add_constant(test_x, has_constant = 'add') #add bias
sm_model_predict = fitted_sm_model.predict(sm_test_x) #predict
print("regression RMSE: {}".format(sqrt(mean_squared_error(sm_model_predict, test_y)))) #RMSE
print(fitted_sm_model.params) #parameters

regression RMSE: 239804.29670858168
const           7.185671e+06
bathrooms       1.302689e+05
bedrooms       -2.224791e+03
condition       1.641020e+04
floors          1.946305e+03
grade           1.955909e+05
waterfront      7.555423e+05
yr_built       -4.300787e+03
yr_renovated    1.273246e+01
dtype: float64

# 2. Bagging(for loop ver.)

# import libraries

In [18]:
import random

# data settings(sampling)

In [19]:
bagging_predict_result = []

for _ in range(10):
    data_index = [data_index for data_index in range(train_x.shape[0])] #put train data index into list
    random_data_index = np.random.choice(data_index, train_x.shape[0]) #data sampling(data : data_index, 
                                                                       #sampling size : # train_x)
    print('sampling', _ , ':', len(set(random_data_index))) #sampling with replacement
    
    sm_train_x = train_x.iloc[random_data_index,] #features(row) corresponding to random index
    sm_train_y = train_y.iloc[random_data_index,] #label corresponding to random index
    
    sm_train_x = sm.add_constant(sm_train_x, has_constant = 'add') #add bias
    sm_model = sm.OLS(sm_train_y, sm_train_x) #model
    fitted_sm_model = sm_model.fit() #train
    
    sm_test_x = sm.add_constant(test_x, has_constant = 'add') #add bias
    sm_model_predict = fitted_sm_model.predict(sm_test_x) #predict
    bagging_predict_result.append(sm_model_predict) #save the predictions

sampling 0 : 9564
sampling 1 : 9633
sampling 2 : 9515
sampling 3 : 9654
sampling 4 : 9513
sampling 5 : 9603
sampling 6 : 9602
sampling 7 : 9594
sampling 8 : 9576
sampling 9 : 9570

In [20]:
len(bagging_predict_result) #10 loops, thus 10 elements in bagging_predict_result

10

In [21]:
predicted_data_table = pd.DataFrame()

for bagging in range(len(bagging_predict_result)):
    predicted_data_table['bagging ' + str(bagging+1)] = bagging_predict_result[bagging]
    
predicted_data_table

,bagging 1,bagging 2,bagging 3,bagging 4,bagging 5,bagging 6,bagging 7,bagging 8,bagging 9,bagging 10
735,5.757589e+05,5.604569e+05,5.644602e+05,5.594797e+05,5.668120e+05,5.626631e+05,5.580610e+05,5.680743e+05,5.611139e+05,5.615710e+05
2830,7.144655e+05,7.177401e+05,7.205267e+05,7.073309e+05,7.064351e+05,7.225747e+05,7.264208e+05,7.136078e+05,7.077751e+05,6.918331e+05
4106,1.134898e+06,1.107230e+06,1.110765e+06,1.128291e+06,1.124268e+06,1.136471e+06,1.111281e+06,1.127957e+06,1.119357e+06,1.115053e+06
16218,1.473265e+06,1.471582e+06,1.472080e+06,1.484090e+06,1.468820e+06,1.517463e+06,1.486564e+06,1.487337e+06,1.483759e+06,1.461819e+06
19964,7.058546e+05,6.962142e+05,6.954051e+05,6.990239e+05,7.002996e+05,7.049770e+05,6.982701e+05,7.026468e+05,7.007379e+05,6.990617e+05
...,...,...,...,...,...,...,...,...,...,...
12606,6.055850e+05,6.031866e+05,6.028441e+05,5.945138e+05,5.991205e+05,6.069185e+05,6.024916e+05,6.070709e+05,6.033533e+05,5.990065e+05
14393,6.636724e+05,6.814612e+05,6.891130e+05,6.831443e+05,6.696061e+05,6.925876e+05,6.872859e+05,6.820387e+05,6.857998e+05,6.770110e+05
6899,3.335462e+05,3.198436e+05,3.215011e+05,3.331506e+05,3.312459e+05,3.129283e+05,3.141383e+05,3.252289e+05,3.265407e+05,3.394699e+05
85,9.133185e+05,8.968241e+05,9.075985e+05,9.211937e+05,9.125020e+05,9.223834e+05,8.948379e+05,9.195654e+05,9.160444e+05,9.194404e+05
21363,4.485983e+05,4.309937e+05,4.342275e+05,4.345081e+05,4.423303e+05,4.270843e+05,4.306556e+05,4.343317e+05,4.314395e+05,4.368533e+05

In [22]:
#1st element in bagging_predict_result
#1st bagging
print(bagging_predict_result[0])

735      5.757589e+05
2830     7.144655e+05
4106     1.134898e+06
16218    1.473265e+06
19964    7.058546e+05
             ...
12606    6.055850e+05
14393    6.636724e+05
6899     3.335462e+05
85       9.133185e+05
21363    4.485983e+05
Length: 6484, dtype: float64

In [23]:
#type of 1st element in bagging_predict_result
print(type(bagging_predict_result[0]))

<class 'pandas.core.series.Series'>

In [24]:
#pd.Series has index and values
#Series.index
print(bagging_predict_result[0].index)

Int64Index([  735,  2830,  4106, 16218, 19964,  1227, 18849, 19369, 20164,
             7139,
            ...
            14851, 16963, 13984, 18954,  1486, 12606, 14393,  6899,    85,
            21363],
           dtype='int64', length=6484)

In [25]:
#pd.Series has index and values
#Series.values
print(bagging_predict_result[0].values)

[ 575758.89312309  714465.51201361 1134898.21343114 ...  333546.18900968
  913318.46989709  448598.26675749]

In [26]:
#1st value in 1st sample
print(bagging_predict_result[0].values[0])

575758.8931230922

# get mean value of bagging results

In [27]:
bagging_predict = []

for data_index in range(len(predicted_data_table.index)): #len(predicted_data_table.index):6484
    
    temp_predict = [] 
    for bagging in range(len(bagging_predict_result)): #len(bagging_predict_result):10(10 baggings)
        temp_predict.append(bagging_predict_result[bagging].values[data_index]) #predicted values of each bagging
                                                                                #bagging_predict_result[0].values[3]
                                                                                #↳4th value in 1st bagging
    
    bagging_predict.append(np.mean(temp_predict)) #get mean values of 10 predicted results 
                                                  #mean value now acts as predicted y value
                                                  #thus, we have test_x[0] number of predicted y values

In [28]:
predicted_data_table['mean'] = bagging_predict
predicted_data_table

,bagging 1,bagging 2,bagging 3,bagging 4,bagging 5,bagging 6,bagging 7,bagging 8,bagging 9,bagging 10,mean
735,5.757589e+05,5.604569e+05,5.644602e+05,5.594797e+05,5.668120e+05,5.626631e+05,5.580610e+05,5.680743e+05,5.611139e+05,5.615710e+05,5.638451e+05
2830,7.144655e+05,7.177401e+05,7.205267e+05,7.073309e+05,7.064351e+05,7.225747e+05,7.264208e+05,7.136078e+05,7.077751e+05,6.918331e+05,7.128710e+05
4106,1.134898e+06,1.107230e+06,1.110765e+06,1.128291e+06,1.124268e+06,1.136471e+06,1.111281e+06,1.127957e+06,1.119357e+06,1.115053e+06,1.121557e+06
16218,1.473265e+06,1.471582e+06,1.472080e+06,1.484090e+06,1.468820e+06,1.517463e+06,1.486564e+06,1.487337e+06,1.483759e+06,1.461819e+06,1.480678e+06
19964,7.058546e+05,6.962142e+05,6.954051e+05,6.990239e+05,7.002996e+05,7.049770e+05,6.982701e+05,7.026468e+05,7.007379e+05,6.990617e+05,7.002491e+05
...,...,...,...,...,...,...,...,...,...,...,...
12606,6.055850e+05,6.031866e+05,6.028441e+05,5.945138e+05,5.991205e+05,6.069185e+05,6.024916e+05,6.070709e+05,6.033533e+05,5.990065e+05,6.024091e+05
14393,6.636724e+05,6.814612e+05,6.891130e+05,6.831443e+05,6.696061e+05,6.925876e+05,6.872859e+05,6.820387e+05,6.857998e+05,6.770110e+05,6.811720e+05
6899,3.335462e+05,3.198436e+05,3.215011e+05,3.331506e+05,3.312459e+05,3.129283e+05,3.141383e+05,3.252289e+05,3.265407e+05,3.394699e+05,3.257594e+05
85,9.133185e+05,8.968241e+05,9.075985e+05,9.211937e+05,9.125020e+05,9.223834e+05,8.948379e+05,9.195654e+05,9.160444e+05,9.194404e+05,9.123708e+05
21363,4.485983e+05,4.309937e+05,4.342275e+05,4.345081e+05,4.423303e+05,4.270843e+05,4.306556e+05,4.343317e+05,4.314395e+05,4.368533e+05,4.351022e+05

# compare regression RMSE & bagging RMSE

In [29]:
print("regression RMSE: {}".format(sqrt(mean_squared_error(sm_model_predict, test_y)))) 
print("bagging RMSE: {}".format(sqrt(mean_squared_error(bagging_predict, test_y))))
reg_RMSE = sqrt(mean_squared_error(sm_model_predict, test_y))
bagging_RMSE = sqrt(mean_squared_error(bagging_predict, test_y))
if bagging_RMSE < reg_RMSE:
    print('➜ bagging RMSE is smaller than regression RMSE')
else:
    print('➜ regression RMSE is smaller than bagging RMSE')

regression RMSE: 241753.6905042477
bagging RMSE: 239940.69228895457
➜ bagging RMSE is smaller than regression RMSE

# 3. Bagging(sklearn ver.)

# import libraries

In [30]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import BaggingRegressor

# regression model

In [31]:
regression_model = LinearRegression() #linear regression model
linear_model1 = regression_model.fit(train_x, train_y) #train with regression model using train data
predict1 = linear_model1.predict(test_x) #make predictions with fitted model using test data
print("regression RMSE: {}".format(sqrt(mean_squared_error(predict1, test_y)))) #RMSE

regression RMSE: 239804.29670858147

# bagging (5 samplings)

In [32]:
bagging_model1 = BaggingRegressor(base_estimator = regression_model, #regression model
                                 n_estimators = 5, #5 samplings
                                 verbose = 1) #show training progress
linear_model2 = bagging_model1.fit(train_x, train_y) #train
predict2 = linear_model2.predict(test_x) #predict using test data
print("bagging(5 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict2, test_y)))) #RMSE

bagging(5 samplings) RMSE: 239909.97684827202

/Users/jeongwonmin/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:399: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

# bagging(50 samplings)

In [33]:
bagging_model2 = BaggingRegressor(base_estimator = regression_model, #regression model
                                  n_estimators = 50, #50 samplings
                                  verbose = 1) #show training progress
linear_model3 = bagging_model2.fit(train_x, train_y) #train
predict3 = linear_model3.predict(test_x) #predict using test data
print("bagging(50 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict3, test_y)))) #RMSE

bagging(50 samplings) RMSE: 239850.64935630304

/Users/jeongwonmin/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:399: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

# RMSE comparison

In [34]:
print("regression RMSE: {}".format(sqrt(mean_squared_error(predict1, test_y))))
print("bagging(5 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict2, test_y)))) 
print("bagging(50 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict3, test_y))))

regression RMSE: 239804.29670858147
bagging(5 samplings) RMSE: 239909.97684827202
bagging(50 samplings) RMSE: 239850.64935630304

# 4. decision tree model(for loop ver.)

# import libraries

In [35]:
from sklearn.tree import DecisionTreeRegressor
import random

In [36]:
decision_tree_model = DecisionTreeRegressor() #decision tree model
tree_model1 = decision_tree_model.fit(train_x, train_y) #fit training data with decision tree model
predict1 = tree_model1.predict(test_x) #predict with fitted model using test data
print("decision tree RMSE: {}".format(sqrt(mean_squared_error(predict1, test_y)))) #RMSE

decision tree RMSE: 295275.44325011893

In [37]:
bagging_predict_result = [] 

for _ in range(30):
    data_index = [data_index for data_index in range(train_x.shape[0])] #put train data index into list
    random_data_index = np.random.choice(data_index, train_x.shape[0]) #data sampling(data : data_index, 
                                                                       #sampling size : # train_x)
    print('sampling', _ , ':', len(set(random_data_index))) #sampling with replacement
    
    sm_train_x = train_x.iloc[random_data_index,] #features(row) corresponding to random index
    sm_train_y = train_y.iloc[random_data_index,] #label corresponding to random index
    
    decision_tree_model = DecisionTreeRegressor() #decision tree model
    tree_model1 = decision_tree_model.fit(sm_train_x, sm_train_y) #fit training data with decision tree model
 
    predict1 = tree_model1.predict(test_x) #predict with fitted model using test data
    bagging_predict_result.append(predict1) #save the predictions

sampling 0 : 9580
sampling 1 : 9578
sampling 2 : 9619
sampling 3 : 9540
sampling 4 : 9551
sampling 5 : 9521
sampling 6 : 9506
sampling 7 : 9518
sampling 8 : 9573
sampling 9 : 9535
sampling 10 : 9603
sampling 11 : 9534
sampling 12 : 9451
sampling 13 : 9547
sampling 14 : 9543
sampling 15 : 9534
sampling 16 : 9667
sampling 17 : 9601
sampling 18 : 9560
sampling 19 : 9578
sampling 20 : 9581
sampling 21 : 9517
sampling 22 : 9618
sampling 23 : 9594
sampling 24 : 9528
sampling 25 : 9529
sampling 26 : 9626
sampling 27 : 9522
sampling 28 : 9523
sampling 29 : 9579

# get mean value of bagging results

In [38]:
len(bagging_predict_result)

30

In [39]:
type(bagging_predict_result[0])

numpy.ndarray

In [40]:
bagging_predict = [] 

for data_index in range(test_x.shape[0]): #test_x.shape[0]:6484
   
    temp_predict = []
    for bagging in range(len(bagging_predict_result)): #len(bagging_predict_result):30(30 baggings)
        temp_predict.append(bagging_predict_result[bagging][data_index]) #predicted values of each bagging
                                                                         #bagging_predict_result[0][3]
                                                                         #↳4th value in 1st bagging
    bagging_predict.append(np.mean(temp_predict)) #get mean values of 10 predicted results 
                                                  #mean value now acts as predicted y value
                                                  #thus, we have test_x[0] number of predicted y values

In [41]:
print("decision tree bagging RMSE: {}".format(sqrt(mean_squared_error(bagging_predict, test_y)))) # RMSE

decision tree bagging RMSE: 233091.33499206684

In [42]:
bagging_predict_result[29]

array([ 322500.        , 1100000.        ,  878000.        , ...,
        264603.57142857,  790000.        ,  460341.14285714])

# 5. decision tree(sklearn ver.)

In [43]:
bagging_decision_tree_model1 = BaggingRegressor(base_estimator = decision_tree_model, #decision tree model
                                                n_estimators = 5, #5 samplings
                                                verbose = 1) #show training progress
tree_model2 = bagging_decision_tree_model1.fit(train_x, train_y) #train
predict2 = tree_model2.predict(test_x) #predict using test data
print("bagging(5 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict2, test_y)))) #RMSE

bagging(5 samplings) RMSE: 241887.69449245033

/Users/jeongwonmin/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:399: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

In [44]:
bagging_decision_tree_model2 = BaggingRegressor(base_estimator = decision_tree_model, #decision tree model
                                                n_estimators = 30, #30 samplings
                                                verbose = 1) #show training progress
tree_model3 = bagging_decision_tree_model2.fit(train_x, train_y) #train
predict3 = tree_model3.predict(test_x) #predict using test data
print("bagging(30 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict3, test_y)))) #RMSE

/Users/jeongwonmin/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/_bagging.py:399: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return column_or_1d(y, warn=True)
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

bagging(30 samplings) RMSE: 234133.8881119548

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.5s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s finished

# RMSE comparison

In [45]:
print("decision tree RMSE: {}".format(sqrt(mean_squared_error(predict1, test_y)))) 
print("bagging(5 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict2, test_y)))) 
print("bagging(30 samplings) RMSE: {}".format(sqrt(mean_squared_error(predict3, test_y))))

decision tree RMSE: 305968.918371382
bagging(5 samplings) RMSE: 241887.69449245033
bagging(30 samplings) RMSE: 234133.8881119548